* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 40px;
  font-family: 'Karla', sans-serif;
}

.score{
  width: 600px;
  display:flex;
  justify-content: space-evenly;
  background-color: rgb(199, 198, 198);
  border-radius: 10px;
  margin-bottom:10px;
}

.title {
  font-size: 40px;
  margin: 0;
}

.numRolls {
  font-size: 30px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

main{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  height: 800px;
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 20px;
}

.container{
  display: grid;
  grid-template: auto auto / repeat(5,1fr);
  gap: 50px;
  padding: 40px;
}

.die-face{
  border: none;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items:center;
  border-radius: 10px;
  box-shadow: rgb(199, 198, 198) 0px 3px 3px;
  cursor: pointer;
}

.die-num{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.die-num div {
  font-size: 1.5rem; /* Adjust the font size as needed */
  margin: 2px; /* Adjust the margin as needed */
}

.roll-dice{
  border: none;
  background-color:#5035FF;
  height: 70px;
  width: 220px;
  border-radius:10px;
  color: #FFFFFF;
  font-size: 2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}

.roll-dice:hover{
  background-color:#725cfc;
}

.roll-dice:focus{
  outline: none;
}

.roll-dice:active{
  box-shadow: inset 5px 5px 10px -3px #3724b3;
}

